* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  background-color:#ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.encabezado{
  border-bottom:#000000 0.4rem solid;
}
.encabezado .contenedor_logo{
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding:.5rem .5rem 0 .5rem;
  text-align:left;
  max-width: 1000px;
}
.encabezado .contenedor_logo img{
  width: 25%;
  height:auto;
}
nav{
  background:linear-gradient(to top left,#112D4E,#3F72AF);
  margin-bottom:3rem;
}
.menu{
  width:90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:auto;
  max-width: 1000px;
}
.menu .icono_movil p{
  color:#ffa500;
  text-transform: uppercase;
  user-select: none;
  padding:.1rem;
  position:relative;
  animation-name: mover_text;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes mover_text{
  0%{left:0rem; color:#ffa500;}
  40%{left:2.5rem; color:#ffffff;}
  50%{left:2.5rem; color:#ffffff;}
  90%{left:0rem; color:#ffa500;}
  100%{left:0rem; color:#ffa500;}
}


.menu .btn-menu{ 
 display: none;
 color: #ffffff;
 font-size: 1rem;
 padding: 0;
 margin: 0;
 text-decoration: none;
 border: none;
 outline: 0;
}
.menu .enlaces{
  display: inline-block;
  text-align: right;
  padding: .5rem 0;
}
.menu .enlaces a{  
  color: #ffffff;
  text-decoration: none;
  padding: .5rem;
  margin-left: 0.5rem;
  border-radius: .3rem;
}

.menu .enlaces a:hover{
  background :#ffa500;
}

.enlaces a i{
  color: #ffffff;
  font-size: 1rem;
  margin-right:.5rem;
}

#wrapper {
  width:90%;
  max-width:1000px;
  margin: 0 auto;
}

#banner-wrapper {
  width:100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}

.slider {
  width:100%;
  max-width: 1000px;
}
.slider img {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
main{
  width: 90%;
  height:auto;
  margin:0 auto;
  max-width:1000px;
}
main .principal{
  margin-bottom: 1.5rem;
  text-align:justify;
}
.principal p{
  margin-bottom:1.5rem;
  font-size:1.3rem;
}


main .secundario{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom:1.5rem;
}

.secundario p b{
  display:block;
  width:100%;
  font-size: 1.6rem;
  text-align: center;
  padding: .5rem;
  color: #3F72AF;
  margin-bottom:1rem;
}

.secundario p{
  font-size: 1.3rem;
  color:#000000;
}
.secundario .mision{
  padding: 1rem;
  text-align: justify;
  margin-bottom:1.5rem;
  border: #3F72AF .5rem solid;
  border-radius: 2rem;
  font-size: 1.3rem;
}
.secundario .vision{
  padding:1rem;
  text-align: justify;
  margin-bottom:1.5rem;
  border: #3F72AF .5rem solid;
  border-radius: 2rem;
  font-size: 1.3rem;
}

.secundario .ubicacion{
  padding:.5rem;
  grid-column: span 2;
  text-align: justify;
  margin-bottom:1.5rem;
  font-size: 1.3rem;
}
.contenedor_imagen{
  width: 90%;
  margin: 1rem auto;
  text-align:center;
}
.contenedor_imagen img{
  width: 90%;
  height:auto;
  border-radius: 2rem;
}

.secundario .identificacion{
  padding:.5rem;
  grid-column: span 2;
  text-align: justify;
  margin-bottom:1.5rem;
  font-size: 1.3rem;
}
.secundario .relacion{
  padding:.5rem;
  grid-column: span 2;
  text-align: justify;
  margin-bottom:1.5rem;
  font-size: 1.3rem;
}
footer{
  background:linear-gradient(to top left,#112D4E,#3F72AF);
  width: 100%;
  overflow: auto;
}
footer .pie{
  width:90%;
  max-width:1000px;
  margin:0 auto;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer .pie_pagina{
  display:flex;
  flex-direction: column;
}
.pie_pagina a{
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 1rem;
  padding: .2rem;
  padding-top:.5rem;
}

footer .iconos_pie{
  display:flex;
  flex-direction: column;
}
.iconos_pie .iconos_fotter{
  font-size: 1.5rem;
  margin:0;
  padding:.2rem;
}

.iconos_pie .color1{
  color:#ffffff;
}
.iconos_pie .color2{
  color:#800080;
}
.iconos_pie .color3{
  color:#ff0000;
}

@media screen and (max-width: 800px){
  .menu{
    flex-direction: column;
}
.icono_movil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: .2rem;
}
.menu .icono_movil p{
    display:none;
}

.menu .btn-menu{
    display: inline-block;
}

.menu .enlaces{
display: none;
}

.menu .enlaces-active{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}
}